h1{
    font-size: 80px;
    color: #FF005E;
}
h2{
    color:#E2C2C6;
}
h3{
    color:#610F7F;
}
body{
    background-color: #2F0147;
    text-align: center;

}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    background-color: white;
    width: 700px;
    padding: 10px;
}